$main: #6d1ed2;
$main-dark: #330065;
$red: #CD052C;

$black: #000;
$black-1: #0a0a1b;
$black-2: #131313;
$white: #fff;
$white-1: rgba(
  $color: #fff,
  $alpha: 0.3,
);
$gray: #C4C4C4;
$gray-1: #C6C6C6;

$line: #A9A9A9;

$font_main: 'Roboto', san-serif; 