.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $black-1;
  z-index: 1;
  padding: 13px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      background: $white;
      border-radius: 50%;
      @include transition;
      &:hover {
        opacity: 0.7;
      }

      img {
        width: 10px;
      }
    }
    &-ham {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition;
      &:hover {
        opacity: 0.7;
      }
    }
    &-orderBtn {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
  }
}
